@media (min-width: 700px) {
.formsContainer {
  background-color: rgb(26, 25, 25);
  color: rgb(3, 151, 80);
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(3, 151, 80);
}
.formsContainer input {
  border-radius: 12%;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(3, 151, 80);
  text-align: center;
  color: rgb(3, 151, 80);
}
.formsContainer select {
  background: none;
  color: rgb(3, 151, 80);
  border-radius: 12%;
  border: 2px solid rgb(3, 151, 80);
  border-top: none;
  border-left: none;
  border-right: none;
}

select option {
  color: rgb(3, 151, 80);
  background-color: rgb(26, 25, 25);
}

.formsContainer label {
  display: flex;
  gap: 20px;
  padding: 10px;
  border-right: 1px solid rgb(3, 151, 80);
}
.valueInput input {
  width: 50px;
}
}

@media (max-width: 700px) {
  .formsContainer {
    background-color: rgb(26, 25, 25);
    color: rgb(3, 151, 80);
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(3, 151, 80);
    width: 200vw;
  }
  .formsContainer input {
    border-radius: 12%;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(3, 151, 80);
    text-align: center;
    color: rgb(3, 151, 80);
  }
  .formsContainer select {
    background: none;
    color: rgb(3, 151, 80);
    border-radius: 12%;
    border: 2px solid rgb(3, 151, 80);
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  select option {
    color: rgb(3, 151, 80);
    background-color: rgb(26, 25, 25);
  }
  
  .formsContainer label {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-right: 1px solid rgb(3, 151, 80);
  }
  .valueInput input {
    width: 50px;
  }
  }